.button {
  border-radius: 20px;
  background: #1d428a;
  padding: 6px 25px;
  color: #fff;
  text-align: center;
  font-family: Stevie Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}
