.box-wrapper {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
    }
}